<div class="container">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxLayout="column" fxLayoutAlign="space-between center" *ngFor="let product of products">
        <img class="product-image" src='{{ product.url }}'>
        <div class="product-detail"><b>{{ product.name }}</b></div>
        <div class="product-detail">$ {{ product.price}}</div>

        <form (submit)="onSubmit(product.id, $event)">
            <select  class="product-detail form-select" aria-label="Default select example">
                <option selected value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="submit" value="Add to Cart" class="product-detail btn btn-primary">
        </form>
    </div>
    </div>
</div>

<!--
    <div class="container">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxLayout="column" fxLayoutAlign="space-between center" *ngFor="let product of products">
        <img class="product-image" src='{{ product.url }}'>
        <div class="product-detail"><b>{{ product.name }}</b></div>
        <div class="product-detail">$ {{ product.price}}</div>

        <form (submit)="onSubmit($event)">
            <select  class="product-detail form-select" aria-label="Default select example">
                <option selected value="1">1</option>
                <option value="2">2</option>
                <option value="3">4</option>
                <option value="3">5</option>
                <option value="3">6</option>
            </select>
            <input type="submit" value="Add to Cart" class="product-detail btn btn-primary">
        </form>
    </div>
    </div>
</div>

-->
