<div class="detail-container">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutAlign="space-between center">
            <img class="product-image" src='image.png'>
        </div>
        <div class="detail-item">
            <div class="product-item-detail product-title" ><b>Book</b></div>
            <div class="product-item-detail" >$ 3443</div>
            <div class="product-item-detail" >The best book ever</div>

            <form>
                <select style="width: 100px;"  class="product-item-detail form-select" aria-label="Default select example">
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <input type="submit" value="Add to Cart" class="product-item-detail btn btn-primary">
            </form>
            <div class="product-item-detail"><a href="#">&larr;Return to product list</a></div>
        </div>
    </div>
</div>